<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389633885961-7h8ab8r0n1q89b3m7p92a45a7s3qbu48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389633885961-7h8ab8r0n1q89b3m7p92a45a7s3qbu48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389633885961-au3opse0t1mfb2aric11q3s7fojv9hkt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgG4HPdN3kzY8ZyIT4eiP3SmCHLH5GtmU</string>
	<key>GCM_SENDER_ID</key>
	<string>389633885961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitriel.app</string>
	<key>PROJECT_ID</key>
	<string>selendra-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>selendra-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389633885961:ios:f46d58fb7f7103d36cb5d8</string>
</dict>
</plist>